<form action="/add" method="post">
    <div class="add-tasks">
        <button class="add-btn" type="submit">
            <i class="fa-solid fa-plus"></i>
        </button>
        <h1>Add new task</h1>
    </div>
</form>